.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://andesscdcomco-my.sharepoint.com/:i:/r/personal/felipe_ayala_andesscd_com_co/Documents/Im%C3%A1genes/logo-andesscd-certificados-digitales.png?csf=1&web=1&e=tLeH1s');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }